@model Imp.Admin.Models.Users.UserModel
@{
    ViewBag.Title = "编辑用户";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Edit", "Account"))
{
    @Html.HiddenFor(m => m.Id)
    <div class="box round first">
        <h2>编辑用户</h2>
        <div class="block">
            <h5>
                <input type="submit" class="btn btn-blue" value="保存" />
                <input type="button" class="btn btn-grey" value="返回" onclick="location.href='@Url.Action("List", "Account")    '" />
            </h5>
        </div>

        <table class="form">
            <tr>
                <td class="col1">@Html.LabelFor(m => m.Username)</td>
                <td>@Html.DisplayFor(m => m.Username)
                    @*@Html.HiddenFor(m => m.Username)*@
                </td>
            </tr>
            <tr>
                <td class="col1">@Html.LabelFor(m => m.Password)</td>
                <td>@Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </td>
            </tr>
            <tr>
                <td class="col1">@Html.LabelFor(m => m.Password2)</td>
                <td>@Html.PasswordFor(m => m.Password2)
                    @Html.ValidationMessageFor(m => m.Password2)
                </td>
            </tr>
            <tr>
                <td class="col1">@Html.LabelFor(m => m.DisplayName)</td>
                <td>
                    @Html.EditorFor(m => m.DisplayName)
                    @Html.ValidationMessageFor(m => m.DisplayName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.AvailableRoles)
                </td>
                <td>
                    @Html.CheckBoxListFor(m => m.PostedRoles.RoleIds,
                        m => m.AvailableRoles,
                        e => e.Id,
                        e => e.Name,
                        m => m.SelectedRoles)
                    @Html.ValidationMessageFor(m => m.PostedRoles.RoleIds, "至少需要选择一个角色")
                </td>
            </tr>
             <tr>
                <td class="col1">@Html.LabelFor(m=>m.Active)</td>
                  <td>
                      <label>
                          @Html.CheckBoxFor(m=>m.Active)是否激活
                      </label>
                  </td>
            </tr>
        </table>
    </div>
}
