<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</head>
<body style="background-color: #e6e6e6;">
    <div class="container-fluid">
        <div style="background-color:#fff;border-bottom: 1px solid #0000ff;">
            @Html.Action("PartialTitle", "Page", new { Request.Url })
        </div>

        <div class="tab-content" style="background-color: #f2f2f2;">
            @Html.Action("PartialMenu", "Page", new { Request.Url })
            <div class="main-content" style="background-color: white;">
                @RenderBody()
            </div>
        </div>

        @section scripts{
          
        }


    </div>
    <footer>
        <p class="text-center" style="border-top:1px solid #0000ff">
            Copyright © 2013-2014 www.mvs.com.cn All right reserved

        </p>
    </footer>
</body>
</html>
