@model Imp.Admin.Models.Doc.CreateDirectoryModel
@{
    ViewBag.Title = "新建文件夹";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.ParentDirectoryId)
    <div class="box round first">
        <h2>新建文件夹</h2>
        <div class="block">
            <h5>
                <input type="submit" class="btn btn-blue" value="保存" />
                <input type="button" class="btn btn-grey" value="返回" onclick="location.href='@Url.Action("Index", "Doc")'" />
            </h5>
        </div>




        <table class="form">
            <tr>
                <td class="col1">@Html.LabelFor(m => m.ParentDirectoryPath)</td>
                <td>@Html.DisplayTextFor(m => m.ParentDirectoryPath)</td>
            </tr>
            <tr>
                <td class="col1">@Html.LabelFor(m => m.NewDirectoryName)</td>
                <td>
                    @Html.TextBoxFor(m => m.NewDirectoryName,new{type="file"})
                    @Html.ValidationMessageFor(m => m.NewDirectoryName)

                </td>
            </tr>
        </table>

    </div>
}