@using Imp.Core.Domain.Users
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery("#rolelist").DataTable(
            {
                "oLanguage": {
                    "sLengthMenu": "每页显示 _MENU_ 条记录",
                    "sSearch":"搜索",
                    "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上一页",
                        "sNext": "下一页",
                        "sLast": "末页"
                    }
                }
            });
    });
</script>


<div class="box round first">
    <h2>角色权限</h2>
    <div class="block">
        <h5>
            <input type="button" class="btn btn-blue" value="新建" onclick="location.href='@Url.Action("Create", "Role")'" />
        </h5>
    </div>
    <table id="rolelist" class="stripe row-border hover">

        <thead>
            <tr>
                <th>序号</th>
                <th>名称</th>
                <th>是否系统角色</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                int j = 0;
            }
            @foreach (Role role in ViewBag.Roles)
            {
                j++;
                <tr>
                    <td>@j</td>
                    <td>
                        @role.Name
                    </td>
                    <td>@{
                            string isSystemRole = role.IsSystemRole ? "是" : "否";
                        }
                        @isSystemRole
                    </td>
                    <td>
                        @Html.ActionLink("编辑","Edit","Role",new{role.Id},null)
                        <a style='margin-left:10px;cursor:pointer;' onclick="if(confirm('确定删除？')) location.href='@Url.Content("~/Role/Delete/"+role.Id)'">删除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
